.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url(../images/landingpagebanner.jpg)/*rgb(116, 148, 86)*/;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 15px;
    font-family: Source Sans Pro;
    padding: 50px 80px 50px 80px !important;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
}
.welcome-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    padding: 30px;
    /*border: 1px solid black;*/
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: whitegrey;
    backdrop-filter: blur(3px);box-shadow: 0px 1px 5px 0px rgba(14, 12, 12, 0.637);
}
.welcome-div .welcome-1 {
    color: white;
    font-size: 35px;
    font-weight: 650;
}
.welcome-div .welcome-1 span {
    font-size: 17px;
    font-weight: 200;
    line-height: 5px !important;
}
.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    /*border: 1px solid black;*/
    height: 100%;
    padding: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
}
.form-div .sign-in {
    display: block;
    width: 100%;
}
.form-div .welcome-2 {
    display: none;
    color: black;
    font-size: 34px;
    font-weight: 650;
}
.form-div .signin-prompt {
    color: black;
    text-align: left;
    font-size: 28px;
    font-weight: 70;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.email-input, .password-input {
    border: 1px solid rgb(172, 167, 167);
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0px;
    margin: 0px 0px 20px 0px;
    padding-left: 0px;
    color: black;
}
.email-input:focus, .password-input:focus {
    outline: none;
}
.email-input:last-of-type, .password-input:last-of-type {
    margin-bottom: 30px;
}
.form-div .sign-in button {
    margin: 0px 0px 10px 0px;
    border-radius: 15px;
    border: none;
    padding: 5px 7px 5px 7px;
    width: 100%;
    background: black;
    color: white;
    font-weight: 70px;
    transition: all .3s ease-in-out;
}
.form-div .sign-in button:hover {
    background: rgb(85, 82, 82);
    transition: all .3s ease-in-out;

}
.form-div .sign-in button:nth-of-type(3) {
    border: none;
    background: white;
    color: black;
    font-weight: 100px;
    transition: all .3s ease-in-out;
}
.form-div .sign-in button:nth-of-type(3):hover {
    text-decoration: underline;
    transition: all .3s ease-in-out;
}
.form-div .sign-in input::placeholder {
    color: rgb(153, 151, 151);
}

/*Media Query*/
@media screen and (max-width: 795px) {
    .main {
        padding: 50px 30px 50px 30px !important;
    }
    .container {
        display: block;
    }
    .welcome-div {
        display: none;
    }
    .form-div {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .form-div .welcome-2 {
        display: unset;
    }
}